@font-face {
    font-family: 'bold';
    src: url('../fonts/bold.eot');
    src: url('../fonts/bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold.woff') format('woff'),
         url('../fonts/bold.ttf') format('truetype'),
         url('../fonts/bold.svg#bold') format('svg');	 
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/regular.eot');
    src: url('../fonts/regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/regular.woff') format('woff'),
         url('../fonts/regular.ttf') format('truetype'),
         url('../fonts/regular.svg#bold') format('svg');	 
}

@font-face {
    font-family: 'mono2';
    src: url('../fonts/mono2.eot');
    src: url('../fonts/mono2.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mono2.woff') format('woff'),
         url('../fonts/mono2.ttf') format('truetype'),
         url('../fonts/mono2.svg#bold') format('svg');	 
}

$bold: 'bold', Helvetica, sans-serif;
$regular: 'regular', Helvetica, sans-serif;
$mono: 'mono2', Helvetica, sans-serif;

$primary-color: yellow;
$text-color: #333;
$background-color: #eee;

$break-small: 568px;
$break-large: 1440px;

@mixin margin-padding-clear {
	margin:0;
	padding:0;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html {
	background-color:$background-color;
	@include margin-padding-clear;
	max-width: 1400px;
	margin: 0 auto;
}

body {
	position: relative;
	font-family: $mono;
	color: $text-color;
	@include margin-padding-clear;
	padding: 0 40px;
	margin: 0 auto 160px;
	max-width:1400px;
	@media screen and (max-width: $break-small) {
		padding: 0 15px;
	}
}

h1,h2,h3,h4,h5,h6, p {
	@include margin-padding-clear;
}



#description {
	width: 600px;
	margin: 60px auto 60px;
	
	h1 {
		font-family: $bold;
		margin-bottom:12px;
	}
	
	p {
		font-family: $regular;
		font-size: 16px;
		line-height: 26px;
		margin: 0 0 16px;
	}
	
	a {
		text-decoration: none;
		font-family: $bold;
		display: inline-block
	}
	
	a:link 		{ color:$text-color; }
	a:visited 	{ color:$text-color;}
	a:hover 	{ color:#000; text-decoration: underline;}
	a:active 	{ color:$text-color; }
	}
#chart-container {
	position:relative;
}

#chart {
	position:relative;
	margin-right: 240px;
	font-size:12px;
}

#legend {
	position: absolute;
	top:6px;
	right:0;
	margin: 0 0 20px;
	z-index: 3;
}

#legend, #filter {
	border: 2px solid #666;
	//position: absolute;
	right:0;
	//top:0;
	width: 200px;
	text-align: left;
	background-color: $background-color;
	
	
	th {
		font-size: 16px;
		padding:12px;
	}
	
	td {
		font-size: 14px;
		padding:12px 12px 6px;
		
		h3 {
			position: relative;
			font-weight: bold;
			font-size: 14px;
			margin: 0 0 4px;
		
			span {
				font-weight: normal;
				position: absolute;
				right: 0;
				top: 0;
				font-size: 14px;
				text-align: right;
			}
		}
	}
	
}

#tooltip {
	position: fixed;
	text-align: left;		
	background: #fff;	
	border: 2px solid #333;	
	pointer-events: none;	
	z-index: 10;
	opacity:0;
	font-size: 12px;
}

#tooltip tr:nth-child(1) td:nth-child(1) {
	font-weight: bold;
}

#tooltip tr:nth-child(1) td:nth-child(2) {
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid #333;
	padding:8px;
}

.x-axis-container {
	position:absolute;
	top:-8px;
	left: 0px;
	z-index: 2;
}

.axis {			  
  color: #333;
}

.x text {
	display: none;
}

.x {
	pointer-events: none;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.x-axis-overlay line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

#target-container {
	pointer-events: none;
}

#markers-group {
	pointer-events: none;
}

div.annotation {
	position: absolute;			
	text-align: left;
	top:0;
	color:#e75b5c;
}

.sticky {
	position:fixed;
}

.target {
	float: left;
	background-color: #999;
	margin: 3px;
}

.year {
	fill: none;
	stroke: black;
  	shape-rendering: crispEdges;
	display: none;
}
//
//select {
//	border: 1px solid #333;
//	background: #fff;
//	width: 150px;
//	padding: 10px;
//	font-family: $mono;
//	
//	//height: 34px;
//	-webkit-appearance: none;
//	-moz-appearance: none;
//	appearance: none;
//	//background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
//	
//	option {
//		padding: 4px 10px;
//	}
//}
///*target Internet Explorer 9 and Internet Explorer 10:*/
//
//@media screen and (min-width: 0\0) {
//  select {
//    background: none;
//    padding: 5px;
//  }
//}