@font-face {
  font-family: 'bold';
  src: url("../fonts/bold.eot");
  src: url("../fonts/bold.eot?#iefix") format("embedded-opentype"), url("../fonts/bold.woff") format("woff"), url("../fonts/bold.ttf") format("truetype"), url("../fonts/bold.svg#bold") format("svg"); }

@font-face {
  font-family: 'regular';
  src: url("../fonts/regular.eot");
  src: url("../fonts/regular.eot?#iefix") format("embedded-opentype"), url("../fonts/regular.woff") format("woff"), url("../fonts/regular.ttf") format("truetype"), url("../fonts/regular.svg#bold") format("svg"); }

@font-face {
  font-family: 'mono2';
  src: url("../fonts/mono2.eot");
  src: url("../fonts/mono2.eot?#iefix") format("embedded-opentype"), url("../fonts/mono2.woff") format("woff"), url("../fonts/mono2.ttf") format("truetype"), url("../fonts/mono2.svg#bold") format("svg"); }

/* line 52, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
html {
  background-color: #eee;
  margin: 0;
  padding: 0;
  max-width: 1400px;
  margin: 0 auto; }

/* line 59, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
body {
  position: relative;
  font-family: "mono2", Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  padding: 0 40px;
  margin: 0 auto 160px;
  max-width: 1400px; }
  @media screen and (max-width: 568px) {
	/* line 59, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
	body {
	  padding: 0 15px; } }

/* line 72, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

/* line 78, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#description {
  width: 600px;
  margin: 60px auto 60px; }
  /* line 82, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description h1 {
	font-family: "bold", Helvetica, sans-serif;
	margin-bottom: 12px; }
  /* line 87, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description p {
	font-family: "regular", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 16px; }
  /* line 94, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description a {
	text-decoration: none;
	font-family: "bold", Helvetica, sans-serif;
	display: inline-block; }
  /* line 100, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description a:link {
	color: #333; }
  /* line 101, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description a:visited {
	color: #333; }
  /* line 102, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description a:hover {
	color: #000;
	text-decoration: underline; }
  /* line 103, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #description a:active {
	color: #333; }

/* line 105, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#chart-container {
  position: relative; }

/* line 109, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#chart {
  position: relative;
  margin-right: 240px;
  font-size: 12px; }

/* line 115, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#legend {
  position: absolute;
  top: 6px;
  right: 0;
  margin: 0 0 20px;
  z-index: 3; }

/* line 123, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#legend, #filter {
  border: 2px solid #666;
  right: 0;
  width: 200px;
  text-align: left;
  background-color: #eee; }
  /* line 133, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #legend th, #filter th {
	font-size: 16px;
	padding: 12px; }
  /* line 138, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  #legend td, #filter td {
	font-size: 14px;
	padding: 12px 12px 6px; }
	/* line 142, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
	#legend td h3, #filter td h3 {
	  position: relative;
	  font-weight: bold;
	  font-size: 14px;
	  margin: 0 0 4px; }
	  /* line 148, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
	  #legend td h3 span, #filter td h3 span {
		font-weight: normal;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 14px;
		text-align: right; }

/* line 161, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#tooltip {
  position: fixed;
  text-align: left;
  background: #fff;
  border: 2px solid #333;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  font-size: 12px; }

/* line 172, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#tooltip tr:nth-child(1) td:nth-child(1) {
  font-weight: bold; }

/* line 179, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
table, th, td {
  border-collapse: collapse;
  border: 1px solid #333;
  padding: 8px; }

/* line 185, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.x-axis-container {
  position: absolute;
  top: -8px;
  left: 0px;
  z-index: 2; }

/* line 192, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.axis {
  color: #333; }

/* line 200, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.x {
  pointer-events: none; }

/* line 204, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.axis path {
  display: none; }

/* line 208, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges; }

/* line 214, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.x-axis-overlay line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges; }

/* line 220, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.target-line {
  pointer-events: none; }

/* line 224, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#markers-group {
  pointer-events: none; }

/* line 228, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
div.annotation {
  position: absolute;
  text-align: left;
  top: 0;
  color: #e75b5c; }

/* line 235, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.sticky {
  position: fixed; }

/* line 239, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.target {
  float: left;
  background-color: #999;
  margin: 3px; }

/* line 245, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.year {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  display: none; }

/* line 252, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
#ships-shown {
  margin: 6px 0;
  color: #666; }

/* line 257, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
select {
  border: 1px solid #333;
  background: #eee;
  width: 100%;
  height: 34px;
  font-family: "mono2", Helvetica, sans-serif;
  padding: 6px 8px; }
  /* line 265, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
  select option {
	padding: 6px 8px; }

/* line 270, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
select:focus {
  outline: none;
  background: #fff; }

/* line 275, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
input[type="button"] {
  font-family: "mono2", Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 6px 0;
  padding: 6px 12px;
  width: 100%;
  text-align: center;
  background: #eee;
  border: 1px solid #333;
  cursor: pointer;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

/* line 289, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
input[type="button"]:focus {
  outline: none; }

/* line 293, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
input[type="button"]:hover {
  background: #ccc; }

/* line 297, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.select-container {
  width: 100%;
  position: relative;
  padding-right: 33px;
  margin: 4px 0 10px; }

/* line 304, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.reset-filter {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/reset.png");
  background-size: cover;
  border: 1px solid #333;
  cursor: pointer; }

/* line 316, C:/Users/Kaden/Documents/GitHub/uboat-data/css/style.scss */
.reset-filter:hover {
  background-color: #ccc; }

/*# sourceMappingURL=style.css.map */
